body {
  background-image: url("assets/IMG_4549.jpeg")
}

.logo img {
    width: 100px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: rgba(146, 146, 146, 0.8)
;
    color: white;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}
