body {
  background-image: url("assets/IMG_4549.jpeg");
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

.logo img {
    width: 175px;
    height: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgba(146, 146, 146, 0.8);
    color: white;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;  /* Space between logo and nav links */
    align-items: center;             /* Align items (logo and links) vertically in the center */
    padding: 15px 20px;              /* Padding for some space */
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: white;
    font-weight: 700; /* Make logo text bold */
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center; /* Vertically align the links */
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s;
    font-family: 'Nunito', sans-serif;
    font-weight: 700; /* Make the font bold */
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.game-container {
    display: flex;                /* Use flexbox for horizontal alignment */
    flex-wrap: wrap;              /* Wrap items to the next line when necessary */
    gap: 9px;                     /* Add a 9px gap between icons */
    margin: 20px 0;               /* Optional: Add some space above/below the icons */
    padding: 0;                   /* Remove any padding */
    justify-content: flex-start;  /* Align items at the start of each line */
    width: 100%;                  /* Take up the full width of the screen */
    overflow-x: auto;             /* Allow horizontal scrolling */
}

.game-image {
    border-radius: 10px;
    height: 135px; /* Reduced height */
    max-width: 135px; /* Reduced maximum width */
    cursor: pointer;
    border: 5px solid white;      /* White border to eliminate any inline gaps */
    display: block;               /* Ensure no inline spacing occurs */
    margin: 0;                    /* No margins around the icons */
    padding: 0;                   /* No padding around the icons */
}
